[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
pytest-spec = "*"
pytest-cov = "*"
"flake8" = "*"
isort = "*"
ipython = "*"
codecov = "*"
pytest-django = "*"
django-debug-toolbar = "*"

[packages]
e1839a8 = {editable = true,path = "."}
django-js-routes = {editable = true,path = "."}

[requires]
python_version = "3.7"
